In [1]:
import csv
import json
import os

import pandas as pd

In [2]:
SECRET = 'my_secret'

SERVER = os.getenv("SERVER", "https://testing.es.data61.xyz")

# Multiparty Linkage with Clkhash


## Scenario

There are three parties named Alice, Bob, and Charlie, each holding a dataset of about 3200 records. They know that they have some entities in common, but with incomplete overlap. The common features describing those entities are given name, surname, date of birth, and phone number.

They all have some additional information about those entities in their respective datasets, Alice has a person's gender, Bob has their city, and Charlie has their income. They wish to create a table for analysis: each row has a gender, city, and income, but they don't want to share any additional information. They can use Anonlink to do this in a privacy-preserving way (without revealing given names, surnames, dates of birth, and phone numbers).

## Alice, Bob, and Charlie: agree on secret keys and a linkage schema

They keep the keys to themselves, but the schema may be revealed to the analyst.

In [3]:
print(f'keys: {SECRET}')

keys: my_secret

In [4]:
with open('data/schema_ABC.json') as f:
    print(f.read())

{
  "version": 2,
  "clkConfig": {
    "l": 1024,
    "kdf": {
      "type": "HKDF",
      "hash": "SHA256",
      "salt": "SCbL2zHNnmsckfzchsNkZY9XoHk96P/G5nUBrM7ybymlEFsMV6PAeDZCNp3rfNUPCtLDMOGQHG4pCQpfhiHCyA==",
      "info": "c2NoZW1hX2V4YW1wbGU=",
      "keySize": 64
    }
  },
  "features": [
    {
      "identifier": "id",
      "ignored": true
    },
    {
      "identifier": "givenname",
      "format": {
        "type": "string",
        "encoding": "utf-8"
      },
      "hashing": {
        "ngram": 2,
        "positional": false,
        "strategy": {"k": 15}
      }
    },
    {
      "identifier": "surname",
      "format": {
        "type": "string",
        "encoding": "utf-8"
      },
      "hashing": {
        "ngram": 2,
        "positional": false,
        "strategy": {"k": 15}
      }
    },
    {
      "identifier": "dob",
      "format": {
        "type": "string",
        "encoding": "utf-8"
      },
      "hashing": {
        "ngram": 2,
        "positional": true,
        "strategy": {"k": 15}
      }
    },
    {
      "identifier": "phone number",
      "format": {
        "type": "string",
        "encoding": "utf-8"
      },
      "hashing": {
        "ngram": 1,
        "positional": true,
        "strategy": {"k": 8}
      }
    },
    {
      "identifier": "ignoredForLinkage",
      "ignored": true
    }
  ]
}

## Sneak peek at input data

### Alice

In [5]:
pd.read_csv('data/dataset-alice.csv').head()

   id givenname   surname         dob  phone number gender
0   0      tara    hilton  27-08-1941  08 2210 0298   male
1   3      saJi    vernre  22-12-2972  02 1090 1906   mals
2   7    sliver  paciorek         NaN           NaN   mals
3   9      ruby    george  09-05-1939  07 4698 6255   male
4  10    eyrinm  campbell  29-1q-1983  08 299y 1535   male

### Bob

In [6]:
pd.read_csv('data/dataset-bob.csv').head()

   id givenname    surname         dob  phone number       city
0   3      zali     verner  22-12-1972  02 1090 1906      perth
1   4    samuel  tremellen  21-12-1923  03 3605 9336  melbourne
2   5       amy      lodge  16-01-1958  07 8286 9372   canberra
3   7      oIji   pacioerk  10-02-1959  04 4220 5949     sydney
4  10      erin   kampgell  29-12-1983  08 2996 1445      perth

## Charlie

In [7]:
pd.read_csv('data/dataset-charlie.csv').head()

   id givenname    surname         dob  phone number      income
0   1    joshua  arkwright  16-02-1903  04 8511 9580   70189.446
1   3      zal:     verner  22-12-1972  02 1090 1906   50194.118
2   7    oliyer   paciorwk  10-02-1959  04 4210 5949   31750.993
3   8    nacoya     ranson  17-08-1925  07 6033 4580  102446.131
4  10      erih   campbell  29-12-1i83  08 299t 1435  331476.599

## Analyst: create the project

The analyst keeps the result token to themselves. The three update tokens go to Alice, Bob and Charlie. The project ID is known by everyone.

In [8]:
!clkutil create-project --server $SERVER --type groups --schema data/schema_ABC.json --parties 3 --output credentials.json

with open('credentials.json') as f:
    credentials = json.load(f)
    project_id = credentials['project_id']
    result_token = credentials['result_token']
    update_token_alice = credentials['update_tokens'][0]
    update_token_bob = credentials['update_tokens'][1]
    update_token_charlie = credentials['update_tokens'][2]

Project created

## Alice: hash the data and upload it to the server
The data is hashed according to the schema and the keys. Alice's update token is needed to upload the hashed data. No PII is uploaded to the service—only the hashes.

In [9]:
!clkutil hash data/dataset-alice.csv $SECRET data/schema_ABC.json dataset-alice-hashed.json --check-header false

CLK data written to dataset-alice-hashed.json

In [10]:
!clkutil upload --server $SERVER --apikey $update_token_alice --project $project_id dataset-alice-hashed.json

{"message": "Updated", "receipt_token": "e3c9aa8e058d268258c82e9dd604292a3dcc45189a7776a7"}

## Bob: hash the data and upload it to the server

In [11]:
!clkutil hash data/dataset-bob.csv $SECRET data/schema_ABC.json dataset-bob-hashed.json --check-header false

CLK data written to dataset-bob-hashed.json

In [12]:
!clkutil upload --server $SERVER --apikey $update_token_bob --project $project_id dataset-bob-hashed.json

{"message": "Updated", "receipt_token": "2d0c17c4afd5160ca6d0f47d813d13528da7ff8844eb739d"}

## Charlie: hash the data and upload it to the server

In [13]:
!clkutil hash data/dataset-charlie.csv $SECRET data/schema_ABC.json dataset-charlie-hashed.json --check-header false

CLK data written to dataset-charlie-hashed.json

In [14]:
!clkutil upload --server $SERVER --apikey $update_token_charlie --project $project_id dataset-charlie-hashed.json

{"message": "Updated", "receipt_token": "31f615a0c69dcdada77362dfc471ca74c9c025eeb1e942b3"}

## Analyst: start the linkage run

This will start the linkage computation. We will wait a little bit and then retrieve the results.

In [15]:
!clkutil create --server $SERVER --project $project_id --apikey $result_token --threshold 0.7 --output=run-credentials.json

with open('run-credentials.json') as f:
    run_credentials = json.load(f)
    run_id = run_credentials['run_id']

## Analyst: retreve the results

In [16]:
!clkutil results --server $SERVER --project $project_id --apikey $result_token --run $run_id --watch --output linkage-output.json

State: completed
Stage (3/3): compute output
State: completed
Stage (3/3): compute output
State: completed
Stage (3/3): compute output
Downloading result
Received result

In [17]:
with open('linkage-output.json') as f:
    linkage_output = json.load(f)
    linkage_groups = linkage_output['groups']

## Everyone: make table of interesting information

We use the linkage result to make a table of genders, cities, and incomes without revealing any other PII.

In [18]:
with open('data/dataset-alice.csv') as f:
    r = csv.reader(f)
    next(r)  # Skip header
    genders = tuple(row[-1] for row in r)
    
with open('data/dataset-bob.csv') as f:
    r = csv.reader(f)
    next(r)  # Skip header
    cities = tuple(row[-1] for row in r)
    
with open('data/dataset-charlie.csv') as f:
    r = csv.reader(f)
    next(r)  # Skip header
    incomes = tuple(row[-1] for row in r)

In [19]:
table = []
for group in linkage_groups:
    row = [''] * 3
    for i, j in group:
        row[i] = [genders, cities, incomes][i][j]
    if sum(map(bool, row)) > 1:
        table.append(row)
pd.DataFrame(table, columns=['gender', 'city', 'income']).head(10)

   gender         city      income
0    msl5       sydnev
1    male    melbourne
2    male     canbrrra
3  femalr               277039.294
4                perth  125343.406
5            mlebourne   56899.522
6    male     canberra
7  female    can1>erra
8    male     acbbeera   81191.584
9    maoe  mesllootrne

The last 20 groups look like this.

In [20]:
linkage_groups[-15:]

[[[0, 2196], [2, 2203]],
 [[1, 399], [2, 401], [0, 414]],
 [[1, 772], [2, 811], [0, 795]],
 [[0, 2868], [2, 2886]],
 [[2, 2335], [0, 948]],
 [[0, 1900], [1, 1866]],
 [[0, 2482], [1, 2494], [2, 2509]],
 [[0, 88], [2, 95], [1, 86]],
 [[0, 1740], [1, 1693], [2, 1736]],
 [[0, 536], [2, 525], [1, 512]],
 [[0, 2489], [1, 2501], [2, 2516]],
 [[0, 1176], [1, 1121]],
 [[1, 1393], [2, 1421], [0, 1451]],
 [[0, 658], [2, 666], [1, 645]],
 [[0, 2317], [2, 2324], [1, 2311]]]

## Sneak peek at the result

We obviously can't do this in a real-world setting, but let's view the linkage using the PII. If the IDs match, then we are correct.

In [21]:
with open('data/dataset-alice.csv') as f:
    r = csv.reader(f)
    next(r)  # Skip header
    dataset_alice = tuple(r)
    
with open('data/dataset-bob.csv') as f:
    r = csv.reader(f)
    next(r)  # Skip header
    dataset_bob = tuple(r)
    
with open('data/dataset-charlie.csv') as f:
    r = csv.reader(f)
    next(r)  # Skip header
    dataset_charlie = tuple(r)

In [22]:
table = []
for group in linkage_groups:
    for i, j in sorted(group):
        table.append([dataset_alice, dataset_bob, dataset_charlie][i][j])
    table.append([''] * 6)
    
pd.DataFrame(table, columns=['id', 'given name', 'surname', 'dob', 'phone number', 'non-linking']).tail(15)

        id given name   surname         dob  phone number non-linking
6450  4201  cazsandra      lock  20-19-1904  08 9282 1556      femaoe
6451  4201  cassandra      lock  20-10-1904  08 9282 1556    brisbane
6452
6453  4914       runy    briten  01-01-1971  03 7339 6523        malw
6454  4914       ruby   britten  01-01-1971  03 7338 6523   melbourne
6455  4914       ruby  br'ltten  01-01-1971  03 7337 6523   59544.220
6456
6457  2802      brett   maynsrd  04-09-1968  03 3038 1109        msle
6458  2802      br4tt   maynard  04-09-1867  03 3038 2109      sydney
6459  2802      brett   maynard  04-09-1967  03 3038 1109  152975.865
6460
6461  7378    bradley  campbekl  15-07-2009  03 2052 7063        malw
6462  7378       brat  campbell  15-07-2009  03 2062 7063    cnaberfa
6463  7378    bradely  campbiol  15-07-2009  03 2052 7063   64924.120
6464